secrets.tfvars filter=git-crypt diff=git-crypt
*.tfstate filter=git-crypt diff=git-crypt
*.tfstate.backup filter=git-crypt diff=git-crypt
aws_sec*.properties filter=git-crypt diff=git-crypt
infrastructure/orchestration/group_vars/*.yml filter=git-crypt diff=git-crypt
*.pem filter=git-crypt diff=git-crypt
*.crt filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
